:root {
    --pad-h: 2rem;
    --pad-w: 4rem;
    --color-corporatiu: #1B7EA1;
    --color-corporatiu-alt: #a60031;
    --color-corporatiu-darker: #145e79;
    --color-verd: #0ec65a;
    --color-taronja: #ffc900;
    --color-vermell: #ff0000;
}

* {
    font-family: "neue-haas-grotesk-display", sans-serif;
}

p {
    margin: .5rem 0;
}

span {
    display: block;
}

a#to-builder {
    all: unset;

    background: var(--color-corporatiu);
    padding: 1rem 1rem;
    color: white;
    cursor: pointer;
    transition: background 250ms;
}

a#to-builder:hover {
    background: var(--color-corporatiu-darker);
}

html,
body {
    margin: 0;
    height: calc(100% - var(--pad-h));
    width: calc(100% - var(--pad-w));
}

body {
    padding: var(--pad-h) var(--pad-w);
    display: flex;
    flex-direction: column;
}

body div#loading {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
}

body header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

body header>img {
    height: 50px;
}

body main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

body main div#title {
    display: inherit;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

body main div#title h2 {
    color: var(--color-corporatiu);
}

body main div#title img#logo {
    height: 200px;
}

body main p {
    font-size: 1.25rem;
}

body main article#grid {
    margin-top: 1rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
}

body main article#grid div.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body main article#grid div.col > h2 {
    text-align: center;
    color: var(--color-corporatiu);
    font-weight: bold;
}

body main article#grid div.col > p {
    font-size: 2rem;
    margin: 1rem 0;
}

body main article#grid div.col > p::after {
    content: '%';
}

body main article#grid div.col > div.small > span {
    color: #96999b;
}

.small {
    font-size: .85rem;
}

.green {
    color: var(--color-verd);
}

.orange {
    color: var(--color-taronja);
}

.red {
    color: var(--color-vermell);
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #FFF #FFF transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent var(--color-corporatiu-alt) var(--color-corporatiu-alt);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}

.loader::before {
    width: 32px;
    height: 32px;
    border-color: var(--color-corporatiu) var(--color-corporatiu) transparent transparent;
    animation: rotation 1.5s linear infinite;
}

.hide {
    animation: hide 500ms linear 1;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes hide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* For screens less than 992px */
@media (max-width: 991.98px) {
    body main div#title {
        font-size: 1.5rem;
        flex-direction: column;
    }

    body main p {
        font-size: 1rem;
    }

    body main article#grid {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

/* For screens less than 576px */
@media (max-width: 575.98px) {
    body header {
        justify-content: center;
    }

    body main p {
        font-size: .9rem;
    }

    body main article#grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}